
.active {
  position: absolute;
  top: 0em;
  left: 0em;
  height: 100vh;
  width: 100vw;
  box-shadow: 0 0 0 rgba(1, 1, 1, 0);
  background: #353746;
  z-index: 20;
  overflow: hidden;
  transition-timing-function: ease-out;
  transition-duration: .50s;

}

.navbar-action .active{
  transition-timing-function: ease-out;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(100vw at 225px 24px);
  clip-path: circle(100vw at 150px 24px);
}

:not(.active) .nav li a {
  display: none;
}
.active .nav li a {
  display: flex;
  transition-timing-function: ease-out;
  transition-duration: .50s;
}
ul {
	list-style: none;
}

.active .nav li a {
	position: relative;
	text-transform: uppercase;
	transition: all 300ms ease;
	width: fit-content;
	cursor: pointer;
}
.active .nav li a:hover {
	transform: skew(10deg);

}
.active .nav li a::before {
	content: attr(data-name);
	position: absolute;
	top: 0;
	left: -20px;
	background: #353746;
	height: 3rem;
	overflow: hidden;
	transition: all 300ms ease;
	padding-left: 20px;
}
.active .nav li a:hover::before {
	top: -3%;
	left: 0px;
	color: #c6a304;
}

.active .nav li a::after {
	content: "";
	height: 4px;
	width: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #c6a304;
	transition: all 300ms ease;
}
.active .nav li a:hover::after {
	width: 120%;
	outline: 5px solid #353746;
}

.menu-nav {
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: #353746;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 1100ms ease,
    width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
    height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  display: block;
  top: 3em;
  left: 2.9em;
}
.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #fff;
  margin-bottom: 7px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, background-color 0.5s ease;
  transition: transform 0.2s ease, background-color 0.5s ease,
    -webkit-transform 0.2s ease;
}
.menu-icon__line-left {
  width: 16.5px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.menu-icon__line-right {
  width: 16.5px;
  float: right;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.menu-icon:hover .menu-icon__line-left,
.menu-icon:hover .menu-icon__line-right {
  width: 30px;
}

.active .menu-icon__line {
  background-color: #fff;
  -webkit-transform: translate(0px, 0px) rotate(-45deg);
  transform: translate(0px, 0px) rotate(-45deg);
}
.active .menu-icon__line-left {
  width: 15px;
  -webkit-transform: translate(2px, 4px) rotate(45deg);
  transform: translate(2px, 4px) rotate(45deg);
}
.active .menu-icon__line-right {
  width: 15px;
  float: right;
  -webkit-transform: translate(-3px, -3.5px) rotate(45deg);
  transform: translate(-3px, -3.5px) rotate(45deg);
}
.active .menu-icon:hover .menu-icon__line-left,
.active .menu-icon:hover .menu-icon__line-right {
  width: 15px;
}
