
 .wrapper {
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   margin-top: 5em;
   font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
 }

 [type=radio]:checked,
 [type=radio]:not(:checked) {
   position: absolute;
   left: -9999px;
 }

 [type=radio]:checked + label,
 [type=radio]:not(:checked) + label {
   position: relative;
   padding-left: 12px;
   padding-right: 12px;
   letter-spacing: 3px;
   cursor: pointer;
   line-height: 30px;
   font-size: 1.5em;
   text-transform: uppercase;
   font-weight: 700;
   color: #fff;
   margin-right: 10px;
   margin-left: 10px;
   -webkit-transition: all 0.2s ease;
   transition: all 0.2s ease;
  backdrop-filter: sepia(90%);
 }

 [type=radio]:checked + label:after,
 [type=radio]:not(:checked) + label:after {
   content: "";
   border-radius: 2px;
   height: 0.7em;
   padding: 5px;
   position: absolute;
   bottom: 0;
   left: 6px;
   top: 3px;
   z-index: -1;
   -webkit-transition: all 0.2s ease;
   transition: all 0.2s ease;
 }

 [type=radio]:not(:checked) + label:after {
   display: none;
   width: 0;
 }

 [type=radio]:checked + label:after {
   display: block;
   width: calc(100% - 24px);
 }

 .checkbox-all:checked + label:after,
 .checkbox-all:not(:checked) + label:after,
 .checkbox-js:checked + label:after,
 .checkbox-js:not(:checked) + label:after,
 .checkbox-html:checked + label:after,
 .checkbox-html:not(:checked) + label:after,
 .checkbox-vue:checked + label:after,
 .checkbox-vue:not(:checked) + label:after,
 .checkbox-fullter:checked + label:after,
 .checkbox-fullter:not(:checked) + label:after
  {
   background-color: #FFFFFF;
 }

 .checkbox-all:checked + label {
   margin-left: 17px;
 }

 .seperator {
   width: 100%;
   height: 30px;
 }

 .project {
   border-radius: 4px;
   box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
   -webkit-transition: all 0.2s linear;
   transition: all 0.3s linear;
 }

 .project.js,
 .project.html,
 .project.vue,
 .project.fullter {
   transform: scale(0);
   padding: 0;
   margin: 0;
   visibility: hidden;
   border-width: 0;
   display: none;
 }

 .checkbox-all:checked ~ .cards .project.js,
 .checkbox-all:checked ~ .cards .project.html,
 .checkbox-all:checked ~ .cards .project.vue,
 .checkbox-all:checked ~ .cards .project.fullter,
 .checkbox-js:checked ~ .cards .project.js,
 .checkbox-html:checked ~ .cards .project.html,
 .checkbox-vue:checked ~ .cards .project.vue,
 .checkbox-fullter:checked ~ .cards .project.fullter {
   display: block;
   min-width: calc(15% - 20px);
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 20px;
   visibility: visible;
   transform: scale(1);
   box-shadow: none;
 }

   @media only screen and (max-width: 790px) {
      .container {
      width: 100%;
      }

      label {
      display: block;
      }

      .cards {
      flex-direction: column;
      width: auto;
      }
   }

.portfolio-grid {
   margin-top: 50px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: 300px;
 }
 @media (max-width: 768px) {
   .portfolio-grid {
     grid-template-columns: repeat(1, 1fr);
   }
 }
 @media only screen and (min-width: 768.1px) and (max-width: 991px) {
   .portfolio-grid {
     grid-template-columns: repeat(2, 1fr);
   }
   }
 .portfolio-grid .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    display:none;
    overflow:hidden;
 }
 .portfolio-wrapper {
   overflow:hidden;
   position: relative !important;
   cursor:pointer;
 }
 .portfolio-bg {
   width: 400px;
   height: 300px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   transition: 1s;
   transform: scale(1.1)
 }
 .portfolio:hover .portfolio-bg{
   transform: scale(2.2);
 }

 .portfolio .label {
   position: absolute;
   width: 100%;
   height:100%;
   bottom: 0;
   transition: .7s;
   opacity: 0;
   visibility: hidden
 }

.portfolio .label-bg {
background: #232323;
opacity: 0.7;
width: 100%;
height:100%;
position: absolute;
top:0;
left:0;
transition: 1px;
}
.portfolio .label-text {
color:#fff;
position: relative;
z-index:500;
padding:50px 20px;
}
.portfolio:hover .label {
opacity: 1;
visibility: visible;
}
.portfolio .text-category {
display:block;
}
.portfolio .template-btn {
text-decoration: none;
margin-top: 20px;
font-weight: 500;
text-transform: uppercase;
padding: 0.75rem 1.25rem;
}

.screen-reader {
   width: var(--screenReaderWidth, 1px) !important;
   height: var(--screenReaderHeight, 1px) !important;
   padding: var(--screenReaderPadding, 0) !important;
   border: var(--screenReaderBorder, none) !important;

   position: var(--screenReaderPosition, absolute) !important;
   clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
   overflow: var(--screenReaderOverflow, hidden) !important;
 }

 .page {
   min-height: 100%;
   display: flex;
   justify-content: space-between;
    align-items: flex-end;
    font-size: medium;
 }
 .project-title .code {
   opacity: 0;
 }
 .project-title:hover .code {
   opacity: 1;
   color: #ffffff;
 }