@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

}

body{
   box-sizing: border-box;
   margin: 0;
   outline: 0 none;
   padding: 0;
/* background-image: url(../image/programming-coding.jpg);
   background-size: cover; */
   height: 100%;
   background-color: #0f0e0e;
}

*::-webkit-scrollbar {
  display: none;
}

.custem {
   transform: skewY(-5deg);
}

.slide-in-right {
animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
0% {
   transform: translateX(1000px);
   opacity: 0;
}
100% {
   transform: translateX(0);
   opacity: 1;
}
}

.slide-in-left {
animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
0% {
   transform: translateX(-1000px);
   opacity: 0;
}
100% {
   transform: translateX(0);
   opacity: 1;
}
}

.slide-in-top {
animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
0% {
   transform: translateY(-1000px);
   opacity: 0;
}
100% {
   transform: translateY(0);
   opacity: 1;
}
}

.slide-in-bottom {
animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
0% {
   transform: translateY(1000px);
   opacity: 0;
}
100% {
   transform: translateY(0);
   opacity: 1;
}
}

.custom-section {
   padding: 2% 5%;
}

.underlined {
   display: inline-block;
   font-family: Helvetica, Arial, sans-serif;
   text-decoration: none;
   background: linear-gradient(#c6a304, #c6a304) no-repeat bottom/0 2px;
   transition: background-size 0.3s ease;
}
.underlined:hover {
background-size: 100% 2px;
}
.underlined--left {
   background-position: right bottom;
}
.underlined--right {
   background-position: left bottom;
}

.bg-text-container {
   transform: translateX(50%);
   left: 0%;
   top: 11%;
   position: absolute;
   z-index: -999;
   transform: skewY(-5deg);
}

@keyframes text-scrolling {
   0% {
      transform: translate3d(-100%, 0, 0);
   }
   100% {
      transform: translate3d(0%, 0, 0);
   }
}
.animate-text {
   animation: text-scrolling 50s linear infinite;
   will-change: transform;
   display: block;
   position: relative;
   white-space: nowrap;
}
.animate-text.left {
   animation-direction: reverse;
}

.text-animate-bg {
   font-size: 280px;
   color: transparent;
   -webkit-text-stroke: 2px #c6a20479;
   text-transform: uppercase;
   display: inline-block;
   line-height: 0.75;
   min-width: auto;
   font-weight: 200;

}

.progress-bar {
   height: 7px;
   width: 100%;
   position: relative;
   z-index: 10;
   background-color: #55708d;
}
.progress-bar .progress {
   position: relative;
   height: 100%;
   background-color: #cfd6dd;
   transition: width 1s ease-out;
   border-radius: 0px 2px 2px 0px;
}
.progress-bar .glow {
   width: 5%;
   max-width: 100%;
   border-radius: 20px;
   height: 80%;
   float: right;
}
.progress-bar .glow::before,
.progress-bar .glow::after {
   content: "";
   display: block;
   position: relative;
   border-radius: 0px 2px 2px 0px;
}
.progress-bar .glow::before {
   background: transparent;
   height: 100%;
   box-shadow: 0px 0px 10px #cfd6dd, 0px 0px 10px #04bfff;
   z-index: -5;
}
.progress-bar .glow::after {
   top: -10px;
   left: -10px;
   z-index: -3;
}
.fill-1 {
   animation: fill-1 1s ease-out 0s;
   animation-fill-mode: forwards;
   width: 0%;
}
@keyframes fill-1 {
   0% {
      width: 0%;
   }
   100% {
      width: 95%;
   }
}
.fill-2 {
   animation: fill-2 1s ease-out 0s;
   animation-fill-mode: forwards;
   width: 0%;
}
@keyframes fill-2 {
   0% {
      width: 0%;
   }
   100% {
      width: 70%;
   }
}
.fill-3 {
   animation: fill-3 1s ease-out 0s;
   animation-fill-mode: forwards;
   width: 0%;
}
@keyframes fill-3 {
   0% {
      width: 0%;
   }
   100% {
      width: 95%;
   }
}
.fill-4 {
   animation: fill-4 1s ease-out 0s;
   animation-fill-mode: forwards;
   width: 0%;
}
@keyframes fill-4 {
   0% {
      width: 0%;
   }
   100% {
      width: 85%;
   }
}

@keyframes label {
   0% {
     opacity: 0;
     transform: translateY(10px);
   }
   100% {
     opacity: 0.9;
     transform: translateY(0);
   }
 }
 .label {
   animation: label 1s ease-out .5s;
   animation-fill-mode: forwards;
   opacity: 0;
 }

 .content__container__list {
   margin-top: 0;
   list-style: none;
   animation-name: change;
   animation-duration: 15s;
   animation-iteration-count: infinite;
 }
 .content__container__list__item {
   line-height: 40px;
 }

 @keyframes opacity {
   0%, 100% {
     opacity: 0;
   }
   50% {
     opacity: 1;
   }
 }
 @keyframes change {
   0%, 12.66%, 100% {
     transform: translate3d(0, 0, 0);
   }
   16.66%, 29.32% {
     transform: translate3d(0, -25%, 0);
   }
   33.32%, 45.98% {
     transform: translate3d(0, -50%, 0);
   }
   49.98%, 62.64% {
     transform: translate3d(0, -75%, 0);
   }
   66.64%, 79.3% {
     transform: translate3d(0, -50%, 0);
   }
   83.3%, 95.96% {
     transform: translate3d(0, -25%, 0);
   }
 }

 .content__container {
   height: 35px;
   overflow-y: hidden;
 }

 .content__container:after, .content__container:before {

   animation-name: opacity;
   animation-duration: 1s;
   animation-iteration-count: infinite;
 }
 .content__container__text {
   display: inline;
   float: left;
   line-height: 40px;
 }
 /* .content {
   line-height: 40px;
 } */

/* effect-shine */
.effect-shine:hover {
   mask-image: linear-gradient(136deg, rgba(236, 212, 0, 0.3) 30%, rgb(255, 255, 255) 50%, rgba(236, 204, 0, 0.6) 90%);
   mask-size: 200%;
   animation: shine 0.5s infinite;
 }

 @keyframes shine {
   from {
     mask-position: 150%;
   }
   to {
     mask-position: -50%;
   }
 }
 .text-focus-in:hover{animation:text-focus-in .8s cubic-bezier(.55,.085,.68,.53) both}
 @keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}


img.user {
   box-shadow: 0 0 0 5px #777;
   border-radius: 50%;
   -o-object-fit: cover;
      object-fit: cover;
      filter: grayscale(100%);
   will-change: transform;
 }
 img.user:hover {
   cursor: pointer;
   -webkit-animation: bounceOut 0.4s linear;
   animation: bounceOut 0.4s linear;
   filter: grayscale(0%);
 }

 @-webkit-keyframes bounceOut {
   0% {
     box-shadow: 0 0 0 4px #777;
     opacity: 1;
     transform: scale(1);
   }
   25% {
     box-shadow: 0 0 0 1px #777;
     opacity: 1;
     transform: scale(0.97);
   }
   50% {
     box-shadow: 0 0 0 7px #777;
     opacity: 1;
     transform: scale(1.01);
   }
   75% {
     box-shadow: 0 0 0 4px #777;
     opacity: 1;
     transform: scale(1);
   }
   100% {
     box-shadow: 0 0 0 5px #777;
     opacity: 1;
   }
 }

 @keyframes bounceOut {
   0% {
     box-shadow: 0 0 0 4px #777;
     opacity: 1;
     transform: scale(1);
   }
   25% {
     box-shadow: 0 0 0 1px #777;
     opacity: 1;
     transform: scale(0.97);
   }
   50% {
     box-shadow: 0 0 0 7px #777;
     opacity: 1;
     transform: scale(1.01);
   }
   75% {
     box-shadow: 0 0 0 4px #777;
     opacity: 1;
     transform: scale(1);
   }
   100% {
     box-shadow: 0 0 0 5px #777;
     opacity: 1;
   }
 }

 /*  links sidebar CSS  */
._social-links {
	position: fixed;
	right: 0;
	top: 60%;
	/* transform: translatey(-50%); */
	padding: .2em .5em;
	background: #fafafa;
	border-radius: 0.5em 0 0 0.5em;
	box-shadow: -4px 0px 0px #dcba1e;
	transition: all 300ms ease;
z-index: 1000;
}

._social-links:hover {
	box-shadow: -8px 0px 20px #dcba1e;
	padding: 1em;
}

._links-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
._social-link a {
	color: #111;
	font-size: 1.5rem;
	transition: all 200ms ease;
}
._social-link a:visited {
	color: #111;
}
._social-link a:hover {
	color: #dcba1e;
	font-size: 1.75rem;
}